scientific_computing_with_python_course/fcc-venv/
scientific_computing_with_python_course/budget_app/temp.py
scientific_computing_with_python_course/budget_app/__pycache__/
scientific_computing_with_python_course/polygon_area_calculator/temp.py
scientific_computing_with_python_course/polygon_area_calculator/__pycache__/
scientific_computing_with_python_course/probability_calculator/temp.py
scientific_computing_with_python_course/probability_calculator/__pycache__/